@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900;
}

/* Mobile-specific styles for FAQ */
@media (max-width: 768px) {
  .text-xs {
    line-height: 1.5rem;
  }

  .mt-1 {
    margin-top: 0.55rem;
  }
}
